<h1>Single User</h1>

<section>
  <%= render "shared/user", user: @user %>
  <div class="bio border-black">
    <p>Bio</p>
    <p><%= @user.bio %></p>
  </div>
  <div class="posts">
    <% @recent_posts.each do |post| %>
      <%= render "shared/post", post: post %>
    <% end %>
  </div>
  <button type="button" class="btn"><%= link_to "See all posts", user_posts_path(@user) %></button>
</section>