<% if (post.comments.empty?) %>
  <p>No comment yet.</p>
<% else %>
  <% post.recent_comments.each do |comment| %>
    <ul>
      <li><%= comment.author.name %>: <%= comment.text %></li>
    </ul>
  <% end %>
<% end %>