<div class="user-post">
  <h2>Post #<%= post.id %></h2>
  <p><%= truncate(post.text, length: 150, omission: "...") %></p>
  <div class="like-comment">
    <p>Comments: <%= post.comments_counter %>, Likes: <%= post.likes_counter %></p>
  </div>
</div>