<h1>All Posts</h1>

<section>
  <%= render partial: "shared/user", locals: { user: @user } %>
  <% @posts.each do |post| %>
      <%= render "shared/post", post: post %>
      <div class="comments">
        <%= render "shared/comment", post: post %>
      </div>
  <% end %>
  <button type="button" class="btn">Pagination</button>
</section>