<h1>All Posts</h1>

<section>
  <div class="user_header">
    <%= render partial: "shared/user", locals: { user: @user } %>
  </div>
  <div class="post">
    <% @posts.each do |post| %>
      <%= link_to user_post_path(user_id: post.author.id, id: post.id) do %>
        <%= render "shared/post", post: post %>
      <% end %>
      <div class="comments">
        <% post.recent_comments.each do |comment| %>
          <%= render "shared/comment", comment: comment %>
        <% end %>
      </div>
    <% end %>
  </div>
  <button type="button" class="btn">Pagination</button>
</section>