.post {
  display: flex;
  flex-direction: column;
}

.comments {
  border: 1px solid black;
  padding: 10px;
  display: flex;
  flex-direction: column;
  gap: 5px;
  font-size: 0.95rem;
}

.full-post-section {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.full-post {
  padding: 15px;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.post-likes-comments {
  text-align: end;
}

.form-title {
  height: 30px;
}
